:root {
    --golden-dark: #957554;
    --golden-light: #DFAA5B;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.link-primary, .text-primary {
    color: var(--golden-dark) !important;
}

.link-primary:hover {
    color: var(--golden-light) !important;
}

.btn-primary {
    background-color: var(--golden-light) !important;
    border: none;
}

.placeholder {
    color: gray;
}

.welcome {
    background-image: url("assets/hotel.png");
    background-size: cover;
    padding-top: 18rem;
    padding-bottom: 18rem;
}

.welcome h1 {
    font-size: 4.3rem;
}

.facilities {
    margin-top: -15rem;
}