:root {
    --teal: #09B3B0;
    --orange: #FF9F00;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("assets/jesse-bowser-EkxO-SFU9kc-unsplash.png");
    background-size: cover;
    height: calc(100vw * 0.43); /* 0.43 is bg img height ratio */
}

img {
    width: 18vw;
}

.h1 {
    font-size: 85px;
}

.bg-primary {
    background-color: var(--teal) !important;
}

.btn-primary {
    background-color: var(--teal);
    border: none;
}

.btn-primary:hover {
    background-color: var(--orange);
}

.link-primary {
    color: var(--teal) !important;
}

.link-primary:hover, .link-active {
    color: var(--orange) !important;
}

.link-primary:hover span, .link-active span {
    border-bottom: 2px solid var(--orange);
    transition: border .1s ease-in-out;
}

.text-secondary {
    color: var(--orange) !important;
}

.font-amatic {
    font-family: 'Amatic SC', cursive;
}

.font-yrsa {
    font-family: 'Yrsa', serif;
}

.small-font {
    font-size: 0.8rem;
}