:root {
    --black: #09292F;
    --off-white: #EDF8F9;
    --teal: #09B3B0;
    --teal-dark: #008080;
    --orange: #FF9F00;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

header {
    background-image: url("assets/jesse-bowser-EkxO-SFU9kc-unsplash.png");
    background-size: cover;
    height: calc(100vw * 0.43);
    /* 0.43 is bg img height ratio */
}

header img {
    width: 18vw;
}

footer {
    font-family: 'Montserrat', sans-serif;
}

.h1 {
    font-size: 85px;
}

.bg-primary,
.btn-primary {
    background-color: var(--teal) !important;
}

.btn-primary:hover,
.btn-secondary,
.btn-secondary:hover {
    background-color: var(--orange);
}

.btn-primary,
.btn-secondary {
    border: none;
}

.btn-light,
.btn-light:hover,
.btn-transparent {
    border-color: var(--teal);
}

.text-primary,
.link-primary {
    color: var(--teal) !important;
}

.text-primary-dark,
.link-primary-dark,
.link-primary-dark:hover {
    color: var(--teal-dark);
}

.text-secondary {
    color: var(--orange) !important;
}

.link-primary,
.link-primary-dark,
.link-light {
    text-decoration: none;
}

nav .link-primary:hover,
.link-active {
    color: var(--orange) !important;
}

nav .link-primary:hover span,
.link-active span {
    border-bottom: 2px solid var(--orange);
    transition: border .1s ease-in-out;
}

.font-amatic {
    font-family: 'Amatic SC', cursive;
}

.font-yrsa {
    font-family: 'Yrsa', serif;
}

.font-aleo {
    font-family: 'Aleo', serif;
}

.small-font {
    font-size: 0.8rem;
}

.tiny-font {
    font-size: 0.6rem;
}

.psychic-section {
    background-image: url("assets/dandelion.png");
    background-size: cover;
    background-position: bottom right;
}

.merits-section {
    background-color: var(--off-white);
}

.faq-section {
    background-image: url("assets/water.png");
    background-size: cover;
    background-position: bottom;
}

.overlay {
    background: rgba(255, 255, 255, 0.9);
}

.overlay-darker {
    background: rgba(255, 255, 255, 0.7);
}

.faq-list {
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
}