:root {
    --golden-dark: #957554;
    --golden-light: #DFAA5B;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.link-primary, .text-primary {
    color: var(--golden-dark) !important;
}

.link-primary:hover {
    color: var(--golden-light) !important;
}

.btn-primary {
    background-color: var(--golden-light) !important;
    border: none;
}

.bg-light {
    background-color: #fff !important;
}

.bg-dark {
    background-color: #111 !important;
}

.placeholder {
    color: gray;
}

.welcome {
    background-image: url("assets/hotel.png");
    background-size: cover;
    padding-top: 18rem;
    padding-bottom: 18rem;
}

.welcome h1 {
    font-size: 4.3rem;
}

.long-button {
    padding-left: 8vw;
    padding-right: 8vw;
}

.facilities {
    margin-top: -15rem;
}

.gradient {
    background: linear-gradient(0deg, rgba(0,0,0,1), rgba(154, 154, 154, 0.4) 35%, rgba(0,0,0,0));
}

/* -------------------------------- */
/*                                  */
/*            Responsive            */
/*                                  */
/* -------------------------------- */

@media screen and (max-width:992px) {

}